::-webkit-scrollbar {
	background: transparent;
	width: 0em;
}

::-webkit-scrollbar-thumb {
	/* display: none; */
	background: transparent;
}

/* firefox */
* {
	scrollbar-color: #ff5722 transparent;
	scrollbar-width: thin;
	scrollbar-gutter: "stable",
	/* overflow-y: overlay; */
}
